/* Custom CSS */
/* Landing page */
/* Body font: Khula */
@import url(https://fonts.googleapis.com/css?family=Khula:400,300,700);

/* Logo font: Grand Hotel */
@import url(https://fonts.googleapis.com/css?family=Grand+Hotel);

/* Banner font: Crete Round */
@import url(https://fonts.googleapis.com/css?family=Crete+Round:400,400italic);

body,
html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3 {
    font-family: 'Khula', sans-serif;
    font-weight: 700;
}

h4,
h5,
h6 {
    font-family: 'Khula', sans-serif;
    font-weight: 400;
}

body, p {
    font-family: 'Khula', sans-serif;
    font-weight: 400;
}

a {
    cursor: pointer;
}

body {
    overflow-y: auto !important;
}
.ui.button:focus {
    box-shadow: none !important;
}
.beta {
    font-family: 'Khula', sans-serif;
    font-weight: 400;
    color: #3B2951;
    font-size: 14px;
}
.margin-auto {
    margin: auto;
}
.lead {
    font-size: 18px;
    font-weight: 400;
}
.lead.yellowlink {
    color: rgba(0,0,0,0.8);
}

.about-photo {
    padding-bottom: 50px;
    text-align: center;
    height: 700px;
    background: url(https://s3-us-west-2.amazonaws.com/mehungrystaticfiles/1R4A3926.jpg) no-repeat center center;
    background-size: cover;
}
.intro-header {
    /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    text-align: center;
    /*background-color: #3B2951;*/
    background: url(../img/onions.jpg) no-repeat center center;
    background-size: cover;
    min-height: 400px;
    height: 700px;
}
.intro-message {
    margin-top: 25%;
    position: relative;
    top: 50%;
	transform: translateY(0%);
    padding-bottom: 2%;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #F8C13D;
}
.intro-message > h2 {

    font-family: 'Crete Round', sans-serif;
    color: #f8f8f8;
    font-size: 4em;
}
.intro-divider {
    width: 50%;
    border-top: 1px solid #F8C13D;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.intro-message > h3 {
    font-family: 'Crete Round', sans-serif;
    color: #f8f8f8;
    font-size: 2em;
    font-style: italic;
}

.homeContainer {
    padding: 100px 0 100px 0;
}

.purpleButton {
    background-color: #3B2951 !important;
    color: #f8f8f8 !important;
    border: 1px solid #f8f8f8 !important;
}
.purpleButton:hover {
    background-color: #f8f8f8 !important;
    color: #3B2951 !important;
}
.purpleButton {
    background-color: #3B2951 !important;
    color: #f8f8f8 !important;
    border: 1px solid #f8f8f8 !important;
}
.purpleButton:hover {
    background-color: #f8f8f8 !important;
    color: #3B2951 !important;
}
.restButton {
    background-color: #3B2951 !important;
}
.restButton:hover {
    background-color: #9B7AC2 !important;
}
.button-text {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.ui.steps .step.active .title {
    color: #F8C13D;
}

#signup_prev {
    background:none !important;
    border:none;
    padding:0 !important;
    font: inherit;
    cursor: pointer;
    color: red;
}

.hero {
    height: 700px;
}

.heroOverlay{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.heroContentCenter h2 {
    font-family: 'Crete Round', sans-serif;
    font-size: 1.7em;
    font-weight: 400;
}

.heroContentCenter {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    padding: 10% 20% 20% 10%;
    background-color: rgba(45, 46, 47, 0.6);
    font-size: 1.5em;
    color: #f8f8f8;
}

.heroContentCenter p {
    font-family: 'Khula', sans-serif;
    font-weight: 300;
}

.heroContentLeft {
    position: absolute;
    background-color: #ffffff;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.hero-1 {
    background: url(https://s3-us-west-2.amazonaws.com/mehungrystaticfiles/huskyhog/DSC_1204.jpg) no-repeat center center;
    background-size: cover;
}
/*
.hero-2 {
    background: url(https://s3-us-west-2.amazonaws.com/mehungrystaticfiles/1R4A2951.jpg) no-repeat center center;
    background-size: cover;
}

.hero-3 {
    background: url(https://s3-us-west-2.amazonaws.com/mehungrystaticfiles/1R4A3030.jpg) no-repeat center center;
    background-size: cover;
}
*/

.content-section-a {
    padding: 50px;
    background: #FCF8f6;
    text-align: center;
}

.content-section-b {
    text-align: center;
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}
.content-section-about {
    padding-left: 50px;
    padding-right: 50px;
    background: #f8f8f8;
}
.section-heading {
    margin-bottom: 30px;
    text-align: center;
    font-size: 72px;
}
.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}
.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background-size: cover;
}
.banner h2 {
    margin: 0;
    font-size: 3em;
}
.banner ul {
    margin-bottom: 0;
}
.banner-social-buttons {
    float: right;
    margin-top: 0;
}
.banner2 {
    padding: 100px 0;
    color: #f8f8f8;
    background-size: cover;
}
.connect i{
    font-size: 1.2em;
}
p.copyright {
    font-size: 0.7em;
    margin: 15px 0 0;
    color: #ccc;
    text-align: center;
}
#about {
    padding-bottom: 50px;
}

.margin_panel {
    margin-top: 50px;
}

.form-group select {
    -webkit-transition: border 0.30s ease-in-out;
    -moz-transition: border 0.30s ease-in-out;
    -ms-transition: border 0.30s ease-in-out;
    -o-transition: border 0.30s ease-in-out;
    transition:  border 0.30s ease-in-out;
}

.form-group select:focus {
    /*border: 1px solid rgba(39,41,43,.3);*/
    border-left: 2px solid rgba(39,41,43,.3);
    border-radius: .2857rem;
}

#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -116px;
    /* Pad bottom by footer height */
    padding-bottom: 116px;
}
.footer {
    padding-top: 30px;
}

#footerlinks a{
    margin-bottom: 10px;
    margin-right: 5px;
}

.yellowlink{
    font-size: 1em;
    color: #f8f8f8;
    text-decoration: none;
    transition: all 0.4s ease;
}

.yellowlink:link, .yellowlink:visited{
    color: inherit;
    text-decoration: none;
}
#footerlinks:visited{
    color: #f8f8f8;
    text-decoration: none;
}
.yellowlink:hover {
    color: #F8C528;
    text-decoration: none;
}

#connecttext {
    color: #fafafa;
    padding-right: 5px;
    display: inline-block;
}

.contactHover.ui.circular.icon.button:hover {
    background-color: #F8C528;
}

.contactHover:hover .icon{
    color: #2d2e2f;
}

/* Colors */
.yellow {
    background-color: #F8C528;
}

.purple {
    background-color: #3B2951 !important;
}

.purpletext {
    color: #3B2951;
}

.black {
    background-color: #2d2e2f;
}

.dateHeader {
    background-color: #2d2e2f;
}

.footer .container .connect  .mediaBlack {
    background-color: #2d2e2f;
    color: #fff;
    text-shadow: none;
    background-image: none;
}


/* Navbar */
.navbar {
    height: 75px;
}

.navbar .container {
    padding-top: 10px;
}
.navbar-brand {
    font-family: 'Grand Hotel', sans-serif; !important;
    font-size: 2.5em;
}
.navbar-default .navbar-brand {
    color: #3B2951;
}
.navbar-nav {
    padding: 6px;
}
.navbar-default .navbar-nav>li>a {
    font-size: 1.2em;
    color: #3B2951;
}
.navbar-collapse {
    background-color: #f7f7f7;
}

nav.large {
    height: 90px;
    transition: all 0.4s ease;
}

nav.large .navbar-brand {
    padding-top: 20px;
    font-size: 3.1em;
    transition: all 0.4s ease;
}

nav.large .navbar-toggle {
    margin-top: 20px;
}

nav.shrink {
    height: 75px;
    transition: all 0.4s ease;
}

nav.shrink a {
    font-size: 2.5em;
}

nav.shrink .navbar-brand {
    font-size: 2.5em;
    transition: all 0.4s ease;
}

.whitefont {
    color: #f8f8f8;
}
.break {
    word-wrap: break-word;
}
.clearnav {
    padding-top: 75px;
}

.top-buffer { margin-top:20px; }

/* Override modal window hiding scroll bar on open*/
.modal-open {
    overflow: auto;
    padding-right: 0 !important;
}
.errorlist{
    color: red;
    list-style-type: none;
    display: inline-block;
    float: right;
}
.errorlist li {
    color: red;
    list-style-type: none;
}

/* MENU LIST */

.restaurant {
}

.restaurantItem {
    border: none;
    border-radius: 0.2857rem;
    box-shadow: 0px 3px 0px 0px #d4d4d5, 0px 0px 0px 1px #d4d4d5;
    -webkit-transition: box-shadow 0.2s ease;
    transition: box-shadow 0.2s ease;
    background-color: #fff;
    padding: 0px !important;
    margin-bottom: 10px;
}

.restaurantPic {
    padding-right: 0px  !important;
    height: 200px;
    overflow: hidden;
}

.restaurantPic img {
    width: 100%;
}

.restaurantContainer .food .image{
    height: 250px;
}

.restaurantContainer .food .description{
    height: 75px;
    min-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.food .image {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height:250px;
    overflow:hidden;
}

.food .description {
    min-height: 100px;
    overflow-y: auto;
}

.cartItem span {
    display: inline-block;
}

/* Override semantic */
.ui.card.food>.content>.header:not(.ui),
.ui.cards.food>.card>.content>.header:not(.ui) {
    color: #2d2e2f;
    font-size: 1.6em;
    text-decoration: none;
}

.ui.card.food>.content>a.header:hover,
.ui.cards.food>.card>.content>a.header:hover{
    color: #F8C528;
    text-decoration: none;
}

.ui.toggle.checkbox input[type=checkbox]:checked~.box, .ui.toggle.checkbox input[type=checkbox]:checked~label, .ui.toggle.checkbox input[type=radio]:checked~.box, .ui.toggle.checkbox input[type=radio]:checked~label {
    color: #3B2951;
}

.ui.toggle.checkbox input[type=checkbox]:checked~.box, .ui.toggle.checkbox input[type=checkbox]:checked~label, .ui.toggle.checkbox input[type=radio]:checked~.box, .ui.toggle.checkbox input[type=radio]:checked~label {
    /*background-color: #3B2951;*/
}

.ui.toggle.checkbox input[type=checkbox]:checked~.box:before, .ui.toggle.checkbox input[type=checkbox]:checked~label:before, .ui.toggle.checkbox input[type=radio]:checked~.box:before, .ui.toggle.checkbox input[type=radio]:checked~label:before {
    color: #3B2951;
    background-color: #3B2951;
}
.dateLink {
    color: #2d2e2f;
    text-decoration: none;
}

.dateLink:hover {
    color: #F8C528;
    text-decoration: none;
    transition: all 0.2s ease;
}

.mapBackground {
    height: 800px;
    background: url(https://s3-us-west-2.amazonaws.com/mehungrystaticfiles/map.jpg) center no-repeat;
    background-size: 100% auto;
}
/*.ui.card.content > a:link, a:visited{
    color: #2d2e2f;
    text-decoration: underline;
}*/

/* Dat hack tho */
.centerImage{
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.food .imageOpacity {
    /* RGBa with 0.6 opacity */
    background-color: rgba(59, 41, 81, 0.3);
}

.imageOpacity .center h3{
    color: #fafafa;
}

.menu {
    padding: 20px 10% 50px 10%;
}


/* F8C13D*/

#stickySteps{
    clear: both;
    position: fixed;
    z-index: 10;
    height: 3em;
    margin-top: -2em;
}
#stickyBtn{
    position: fixed;
}

/* Media queries */

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media (max-width: 991px) {
    .firstname {
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 6em;
    }
}

@media(max-width:767px) {
    .about-photo {
        height: 350px;
    }
    .mapBackground {
        height: 300px;
    }
    .hero {
        height: 500px !important;
    }
    .heroOverlay{
        height: 400px !important;
    }
    .intro-header {
        min-height: 400px;
    }
    .intro-message {
        margin-top: 10%;
        padding-bottom: 10%;
    }
    .intro-message > h2 {
        font-size: 2em;
    }
    .intro-message > h3 {
        font-size: 1em;
        margin-top: 2%;
    }
    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }
    .intro-divider {
        width: 100%;
    }

    .infoseg{
        padding-top: 20px !important;
    }


    .heroContentCenter > h2 {
        font-size: 1em;
    }

    .heroContentCenter {
        width: 100%;
        height: 400px;
        padding: 7% 10% 10% 10%;
        position: absolute;
        font-size: 1.1em;
    }

    .banner h2 {
        margin: 0;
        font-size: 0.5em;
    }
    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .restaurantContainer{

    }

    .restaurantItem > div {
        width: 200px;
    }
}

/* Apply on desktops 970px+*/
@media (min-width: 970px) {
    .restCol3 {
        white-space: nowrap;
        border-left: 1px solid #d4d4d5;
        padding-left: 30px;
    }
}

/*End Media Queries */
/* Table Looks */
table a:link {
    color: #666;
    font-weight: bold;
    text-decoration:none;
}
table a:visited {
    color: #999999;
    font-weight:bold;
    text-decoration:none;
}
table a:active,
table a:hover {
    color: #bd5a35;
    text-decoration:underline;
}
table {
    font-family: 'Khula', sans-serif;
    color:#666;
    font-size:12px;
    background:#eaebec;
    margin:20px;
    border:#ccc 1px solid;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}
table th {
    padding:21px 25px 22px 25px;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;

    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
    text-align: left;
    padding-left:20px;
}
table tr:first-child th:first-child {
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
table tr:first-child th:last-child {
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}
table tr {
    text-align: center;
    padding-left:20px;
}
table td:first-child {
    text-align: left;
    padding-left:20px;
    border-left: 0;
}
table td {
    padding:18px;
    border-top: 1px solid #ffffff;
    border-bottom:1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;

    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
    border-bottom:0;
}
table tr:last-child td:first-child {
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}
table tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}


