{% extends "base.html" %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}

    <section id="about">
        <div class="container break">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Team</h2>
                </div>
            </div>
            <div class="row about-photo">
            </div>
            <div class="row text-center top-buffer">
                <div class="col-md-4">
                    <div class="circularPic menuitemone"></div>
                    <h3 class="service-heading">Raine Dalusong</h3>
                    <h4>Designer</h4>
                </div>
                <div class="col-md-4">
                    <div class="circularPic menuitemone"></div>
                    <h3 class="service-heading">Pranay Kumar</h3>
                    <h4>Engineer</h4>
                </div>
                <div class="col-md-4">
                    <div class="circularPic menuitemone"></div>
                    <h3 class="service-heading">B. L.</h3>
                    <h4>Business</h4>
                </div>
            </div>
            <div class="row text-center top-buffer">
                <div class="col-md-4">
                    <div class="circularPic menuitemone"></div>
                    <h3 class="service-heading">Siddharth Ravikumar</h3>
                    <h4>Operations</h4>
                </div>
                <div class="col-md-4">
                    <div class="circularPic menuitemone"></div>
                    <h3 class="service-heading">Alex Yu</h3>
                    <h4>C*O</h4>
                </div>
                <div class="col-md-4">
                    <div class="circularPic menuitemone"></div>
                    <h3 class="service-heading">Jay Zheng</h3>
                    <h4>Engineer</h4>
                </div>
            </div>
        </div>
    </section>


    <!-- Page Content -->

    <div class="content-section-about break">
        <div class="container">
            <div class="row ui segment">
                <h3 class="ui header">About us</h3>
                <p class="lead">We are a group of IIT students and alumni who created meHungry because we wanted to provide a better way to deliver good, cheap food to students at IIT.</p>
                <p class="lead">Thank you for trying us out!</p>

            </div>
            <br/>
        </div>
    </div>
{% endblock %}