<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:wrp="http://www.w3.org/1999/xhtml">

<head>
    {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="No more standing in line or waiting for the delivery driver. With meHungry, you can pre-order great food from local chefs and restaurants and have it delivered straight to you when you need it.">

    <meta name="author" content="meHungry">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="Food, Lunch, Delivery, Lunch Delivery, Dinner, Dinner Delivery, IIT, illinois institute of technology, private chefs,
     Chicago, mehungry, me hungry, mehungrynow, mehungry.co,Catering for Companies, Lunch Delivery Chicago, mehungry chicago, food startup, food delivery startup">
    <meta property="og:description" content="Pre-order unique, handcrafted food from private chefs, delivered straight to you."/>
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="https://mehungry.co">
    <meta property="og:image" content="https://s3-us-west-2.amazonaws.com/mehungrystaticfiles/mehungry_logo.png"/>
    <meta property="fb:admins" content="1646045818" >
    <meta name="twitter:card" content=”summary”>
    <meta name="twitter:url" content="https://mehungry.co">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="No more standing in line or waiting for the delivery driver. With meHungry, you can pre-order unique, handcrafted food from private chefs and have it delivered straight to you when you need it.">
    <meta name="twitter:image" content="https://s3-us-west-2.amazonaws.com/mehungrystaticfiles/favicon.png">
    <link rel="image_src" href="https://s3-us-west-2.amazonaws.com/mehungrystaticfiles/mehungry_logo.png" />
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/semantic.min.css" %}"/>
    <link rel='stylesheet' type='text/css' href="{% static "css/meHungry.css" %}"/>
    <link rel='stylesheet' type='text/css' href="{% static "font-awesome/css/font-awesome.min.css" %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="{% static "js/jquery-2.1.3.min.js" %}"></script>
    <link rel="icon" type="image/png" href="{% static "img/favicon-32x32.png" %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static "img/favicon-16x16.png" %}" sizes="16x16" />


    {% block more_javascripts %}{% endblock %}

    <title>{{ title }} {% block title %}{% endblock %}</title>

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'meHungry_customer_website.views.homepage_view' %}">meHungry</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="http://goo.gl/forms/5XihkgI6u8" target="_blank">Feedback</a>
                </li>
                <li>
                    <a href="{% url 'meHungry_customer_website.views.display_menus' address%}">Menu</a>
                </li>

                {% if user.is_authenticated %}
                    <li>
                        <a class="firstname" href="{% url 'meHungry_customer_website.views.user_home' %}">{{ user.first_name }}</a>
                    </li>
                    <li>
                        <a href="{% url 'meHungry_customer_website.views.my_orders'%}">My Orders</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'sign_up' %}">Sign up</a>
                    </li>
                {% endif %}

                <!-- Login/Logout button according to user login status -->
                <li>{% if not user.is_authenticated %}
                    <a id="login" href="{% url 'login' %}?next={{ request.path }}"> Log In </a>
                    {% comment %} <a href="/home"> Log In </a>{% endcomment %}
                {% else %}
                    <a href="{% url 'django.contrib.auth.views.logout' %}"> Log Out </a>
                {% endif %}
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Content -->
<div id="wrap" class='clearfix clearnav'>
    {% block content_title %}{% endblock %}

    {% block content %}{% endblock %}
</div>

<!-- Footer -->
<footer class="black footer">
    <div class="container">
        <div id="footerlinks" class="row whitefont">
            <div class="col-lg-12">
                <a class="yellowlink" target="_blank" href="#">FAQ</a>
                <a class="yellowlink" target="_blank" href="https://s3-us-west-2.amazonaws.com/mehungrystaticfiles/meHungry+Terms+and+Conditons.pdf">TERMS AND CONDITIONS</a>
                <a class="yellowlink" target="_blank" href="{% url 'meHungry_customer_website.views.about' %}">ABOUT</a>
            </div>
            <div class="col-lg-12 connect">
                <p id="connecttext">CONNECT:</p>
                <a target="_blank" href="mailto:hello@mehungry.co" class="mediaBlack contactHover ui circular mail icon button ">
                    <i class=" mail icon"></i>
                </a>
                <a target="_blank" href="https://www.facebook.com/pages/MeHungry/1544930932442859" class=" contactHover ui circular facebook icon button mediaBlack" >
                    <i class="facebook icon"></i>
                </a>
                <a target="_blank" href="https://twitter.com/meHungryNow" class=" contactHover ui circular twitter icon button mediaBlack ">
                    <i class="twitter icon"></i>
                </a>
                <a target="_blank" href="https://instagram.com/meHungryNow" class=" contactHover ui circular instagram icon button mediaBlack">
                    <i class="instagram icon"></i>
                </a>

            </div>
            <p class="copyright small">Copyright &copy; meHungry 2015. All Rights Reserved</p>
        </div>
    </div>
</footer>



<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/site.js" %}"></script>
<script src="{% static "js/jquery-ui-1.10.4.custom.min.js" %}"></script>
<script src="{% static "js/eldarion-ajax.min.js" %}"></script>
<script src="{% static "js/semantic.min.js" %}"></script>


<script>


    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-62077518-1', 'auto');
    ga('send', 'pageview');


    $(function () {

        $.ajaxSetup({
            headers: { "X-CSRFToken": getCookie("csrftoken") }
        });
    });


    function getCookie(c_name)
    {
        if (document.cookie.length > 0)
        {
            c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1)
            {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if (c_end == -1) c_end = document.cookie.length;
                return unescape(document.cookie.substring(c_start,c_end));
            }
        }
        return "";
    }


    $('.special.card .image').dimmer({
        on: 'hover'
    });

</script>

</body>
</html>