{% extends "base.html" %}
{% load static %}
{% block content %}

    <script>
        $('nav').addClass('large');
    </script>

    <div class="hero intro-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="intro-message">
                        <h2>Food prepared by Chicago's chefs</h2>
                        <h3>Delivered for free, daily</h3>
                        <hr class="intro-divider">
                        <a onclick="location.href='{% url 'meHungry_customer_website.views.display_menus' address%}'" class="purpleButton ui button"> <span class="button-text">Check it out!</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="howto" class="container homeContainer">
        <div class="row ui basic segment lead">
            <div class="col-md-4 col-sm-4">
                <h2 class=" infoseg ui center aligned icon header">
                    <i class="circular food  icon"></i>
                    Simple menu, great food.
                </h2>
                <p>Order your food in advance before 11AM of the day you want it.</p>
                <p>Choose between our curated dishes from featured restaurants and private chefs.</p>
            </div>
            <div class="col-lg-4 col-sm-4">
                <h2 class="infoseg ui center aligned icon header">
                    <i class="circular add to cart icon"></i>
                    Skip the lines and delivery times.
                </h2>
                <p>We gather the orders daily and deliver them all together to each location right on time for lunch!</p>
            </div>
            <div class="col-lg-4 col-sm-4">
                <h2 class="infoseg ui center aligned icon header">
                    <i class="circular rocket icon"></i>
                    Feed us back!
                </h2>
                <p class="lead">Contact us through twitter or email with questions or comments!</p>
                <p class="purpletext" ><a class=" yellowlink" target="_blank" href="https://twitter.com/meHungryNow"><i class="twitter icon"></i>@mehungrynow</a>
                </br><a class=" yellowlink" target="_blank" href="mailto:hello@mehungry.co"><i class="mail icon"></i>hello@mehungry.co</a></p>
            </div>
        </div>
    </div>
    {% comment %}
        <div class="purple instafeedoverlay content-section-b ">
            <div class="container">
                <div id="trynow" class="row">
                    <div class="col-offset-12">
                        <a href="#howto" class="purpleButton ui button"> <span class="button-text">How it works!</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
{% endcomment %}

    <div class="hero hero-1">
            <div class="heroContentCenter">
                <h2>
                    Hello Conversant! Get this weekend started right with some BBQ on Friday! :Q
                </h2>
                <p>We're bringing <a class="yellowlink" target="_blank" href="http://www.huskyhogbbq.com/"><b>Husky Hog BBQ</b></a> just for you! Chef/Owner Joe and his wife Lauren run an award-winning triple threat BBQ food truck/restaurant/catering company.</p>
                   <p> We have the pleasure of featuring their burnt ends and pulled pork sandwiches. Place your order anytime throughout the week and get some this Friday! :)
                </p>
                <p>Contact us by tweeting <a class="yellowlink" target="_blank" href="https://twitter.com/meHungryNow"><i class="twitter icon"></i>@mehungrynow</a> or at <a class="yellowlink" target="_blank" href="mailto:hello@mehungry.co"><i class="mail icon"></i>hello@mehungry.co</a> for questions or comments!</p>
                <a onclick="location.href='{% url 'meHungry_customer_website.views.display_menus' 35%}'" class="purpleButton ui button"> <span class="button-text">Order now!</span>
                </a>
            </div>
    </div>

    {% comment %}        <div class="hero hero-2">
            <div class="heroOverlay"></div>
        </div>

        <div class="hero hero-3">
            <div class="heroOverlay">
                <div class="heroContentLeft">
                    blaskdjf;alksdjf
                </div>
            </div>
        </div>

        <div class="container content-section-b">
            <div class="ui basic segment">
                Special offer to fuel IIT's late night study sessions!
            </div>
        </div>{% endcomment %}



    {% comment %}    <div class="container content-section-b ">
        <div id="deliveringto" class="row">
            <div class="ui basic segment">
                <div >
                    <a onclick="location.href='{% url 'meHungry_customer_website.views.display_menus' 1%}'" class="purpleButton ui button"> <span class="button-text">Check it out!</span>
                    </a>
                    <h3>Delivering to MSV and Galvin Library!</h3>

                </div>
                <div class="mapBackground">
                </div>
            </div>
        </div>
    </div>{% endcomment %}

    <script>

        window.onload = (function() {
            $('nav').addClass('large');
        })

        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('nav').removeClass('large');
                $('nav').addClass('shrink');
            } else {
                $('nav').addClass('large');
                $('nav').removeClass('shrink');
            }
        });
    </script>

{% endblock %}