{% block cart %}
    {% if cart.items|length > 0 %}
        <div class="ui items">
            {% for item in cart.items %}
                <div class="item">
                    <div class="middle aligned content">
                        <div class="header cartItem">
                            {{ item.quantity }} - {{ item.product.itemName }}
                        </div>
                    </div>
                    <div class="meta">${{ item.subtotal }}</div>
                </div>
                 <div class="ui divider"></div>
            {% endfor %}
            <div class="item">
                <div class="middle aligned content">
                    <div class="header">
                        Total: ${{ cart.total }}
                    </div>
                </div>
            </div>

        </div>
        <form action="/charge_customer/{{ menu_id }}/" method="POST">{% csrf_token %}
            <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button",
                    data-key="{{ stripe_pk }}",
                    data-name="meHungry.co",
                    data-image="https://s3.amazonaws.com/stripe-uploads/acct_15HuU1ImavkfDohDmerchant-icon-1427080061817-logo.png",
                    data-description="Checkout",
                    data-amount="{{ dollar_total }}",
                    data-label="Checkout">
            </script>

        </form>
    {% else %}
        <div>
            Your cart is empty!
        </div>
    {% endif %}

{% endblock %}