{% extends "base.html" %}

{% block content %}
    <div class="ui stackable page padded grid">
        <div class="centered two column row">
            <h1> Your cart is empty! </h1>
        </div>
    </div>

{% endblock %}