{% extends "base.html" %}
{% block content %}

    <div id="menuDiv" class="menu">
        <div class="ui stackable padded grid">
            <div class="row">
                <div class=" column">
                    <h3 class="ui horizontal header divider">Menu for {{ full_date|date:"l, F dS" }} </h3>
                </div>
            </div>
            <div class="centered row ">
                <div class="four wide column">
                    <h3 class="ui top attached header" >My Cart</h3>
                    <div id="cart" class="ui attached segment">

                        {% if canorder %}
                            <p style="color: green;">Taking orders until {{ full_date|date:"l"}} 11:00AM.</p>
                            <div id="cart_data" class="">
                                {% include "meHungry_customer_website/cart_template.html" with cart=cart stripe_pk=stripe_pk dollar_total=dollar_total menu_id=menu_id%}
                            </div>
                            <div id="cart_loader" class="ui inverted dimmer">
                                <div class="ui  loader"></div>
                            </div>
                            {% comment Need to work on this %}
                                {% if has_saved_card %}
                                        <button onclick="location.href='{% url 'meHungry_customer_website.views.charge_customer' menu_id %}'" class="">Charge me with a saved card </button>
                                {% endif %}
                            {% endcomment %}
                        {% else %}
                            <p style="color: red;">
                                Done with orders, we'll start again next week!
                            </p>
                        {% endif %}
                    </div>
                </div>
                {%  for food in food_list %}
                    <div class="six wide column">
                        <div class="ui fluid card food ">
                            <div class="content">
                                <p class="header">{{ food.itemName }} </br> ${{ food.price }}</p>
                                <div class="meta">
                                    {% if food.vegetarian %}
                                        Vegetarian
                                    {% else %}
                                        Meat
                                    {% endif %}
                                </div>
                                <div class="description">
                                    {{ food.desc }}
                                </div>
                                <div class="extra content">
                                    {% if is_logged_in %}
                                        {% if canorder %}
                                            <button name='{{ food.id }}' id='addButton' class="addButton ui button purpleButton" value="">
                                                Add to Cart
                                            </button>
                                            <button name='{{ food.id }}' id='subButton' class="subButton ui button" value="">
                                                Remove from Cart
                                            </button>
                                        {% else %}

                                        {% endif %}
                                    {% else %}
                                        Wanna order? <a href="{% url 'login' %}?next={{ request.path }}">Login</a> or <a href="{% url 'sign_up' %}">Sign up</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="image">
                                <img class="centerImage" src='{{ food.imageurl }}'>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function() {

            $(".addButton").on("click", function(e){
                $('#cart_loader').addClass('active');
                $.ajax({
                    type: "POST",
                    url: "{% url 'item_added' %}",
                    data: {
                        'food_id': $(this).attr('name'),
                        'menu_id': '{{ menu_id }}',
                        'csrfmiddlewaretoken': '{{csrf_token}}'

                    },
                    dataType: "html",
                    success: function(response) {
                        $("#cart_data").html(response);
                        $('#cart_loader').removeClass('active');
                    },
                    error: function(rs, e) {
                        alert("Error, please contact support");
                        $('#cart_loader').removeClass('active');
                    }
                });
            });

            $(".subButton").on("click", function(e){
                $('#cart_loader').addClass('active');
                $.ajax({
                    type: "POST",
                    url: "{% url 'item_removed' %}",
                    data: {
                        'food_id': $(this).attr('name'),
                        'menu_id': '{{ menu_id }}',
                        'csrfmiddlewaretoken': '{{csrf_token}}'
                    },
                    dataType: "html",
                    success: function(response) {
                        $("#cart_data").html(response);
                        $('#cart_loader').removeClass('active');
                    },
                    error: function(rs, e) {
                        alert("Error, please contact support");
                        $('#cart_loader').removeClass('active');
                    }
                });
            });
        });
    </script>

{% endblock %}

