{% extends "base.html" %}

{% block content %}
    <div class="ui stackable page padded grid">
        <div class="centered two column row">
            {% if my_orders %}
                <table class="table-hover" width="100%">
                    <thead>
                    <tr>
                        <th> Order # </th>
                        <th> Order Date </th>
                        <th> Price </th>
                    </tr>
                    </thead>
                    {% for order in my_orders %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.created }}</td>
                            <td>${{ order.order_price }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <h1> You have not placed any orders yet! View our <a href="{% url 'meHungry_customer_website.views.display_menus' 1%}">Weekly Menu</a></h1>
            {% endif %}
        </div>
    </div>
{% endblock %}