{% extends "base.html" %}
{% block content %}
    <div class="ui stackable page padded grid">
    <div class="centered two column row">
        <h1> Thank you for your order! </h1>
        <h3> Your order number is: {{ order_id }} and a receipt should be emailed to you from Stripe</h3>
        <h3> We will notify you when your order is delivered! You will now automatically be redirected to your order history page.</h3>
        <h3> Please contact meHungry support if you have any questions at support@mehungry.co</h3>
        <a href="{% url 'order_hist' %}"><h3>Click here if you are not redirected</h3></a>
    </div>
    </div>
    <script>
        function redirect(){
            window.location.href = "{% url 'order_hist' %}";
        }

        setTimeout(redirect, 10000); //2000 is equivalent to 2 seconds
    </script>
{% endblock %}