{% extends "base.html" %}
{% block content %}
    <!--begining of panel page -->
    <div class="col-md-4 col-md-offset-4">
        <div class="margin_panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Edit Account
                </h3>
            </div>
            <form method="POST" role="form" class="ui form">{% csrf_token %}
                <div class="panel-body">
                    {% if success %}
                        <p style="color: green">Updated successfully</p>
                    {% endif %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field.errors }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    {% for field in form2 %}
                        {% if field.html_name == 'address-address' %}
                            <div class="field">
                                {{ field.label_tag }}
                                {{ field.errors }}
                                {{ field }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input {% if phone_not %}checked="checked"{% endif %} id="id_address-phone_notifications" name="address-phone_notifications" type="checkbox">
                            <label for="id_address-phone_notifications">Allow phone notifications. *Standard messaging rates apply.</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input {% if email_not %}checked="checked"{% endif %} id="id_address-email_notifications" name="address-email_notifications" type="checkbox">
                            <label for="id_address-email_notifications">Allow email notifications.</label>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="submit" value="Update" class="ui button purpleButton"/>
                </div>
            </form>
        </div>
    </div>

{% endblock %}