{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <style>
        .centerText {
            text-align: center;
        }

        .weeklyMenu {
            padding-bottom: 50px;
        }
    </style>
    <div class="weeklyMenu">

        <div class="ui stackable page padded grid restaurant">

            {% if user.is_authenticated %}
                <div class="sixteen wide centered column ">
                    <p class="centerText">Viewing menu for {{ saved_address }}.</p>
                    <p class="centerText">You can edit your order location from your profile.</p>
                </div>
            {% else %}
                <div class="three column  row">
                    <div class="sixteen wide centered column">
                        <div class="centerText">View menus for</div>
                    </div>
                    {% for address in addresses %}
                        <div class="column">
                            <a class="dateLink section-heading" href="{% url 'meHungry_customer_website.views.display_menus' address.id %}"><h3>{{ address.desc }}</h3></a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if ordering %}
                {% for dailyMenu in menu %}


                    {% comment %}            <div class="row restaurantItem">
                    <div class="eight wide column">
                        <div>
                            <h2>Prepared by {{ chef.name }}</h2>
                            <div class="meta">
                                <p>{{ chef.cuisine }}</p>
                            </div>
                            <h4>{{ chef.desc }}</h4>
                        </div>
                    </div>
                    <div class="two wide column">
                        <h5>
                            {{ chef.addressLine1 }}
                            <br>{{ chef.city }}, {{ chef.state }}

                        </h5>
                    </div>
                    <div class="restaurantPic six wide column ">
                        <img src="{{ chef.imageurl}}">
                    </div>
                </div>{% endcomment %}
                    <div class = "centered row ">
                        <div class="centered column ">
                            <h2 class="ui horizontal header divider">
                                <a class="dateLink" href='{% url 'view_food' menu_id dailyMenu.id %}'>View {{ dailyMenu.get_day_display }}'s Menu</a>
                                {% if dailyMenu.day == day and hour < 11 or dailyMenu.day > day %}
                                    <a class="ui green circular label"  href='{% url 'view_food' menu_id dailyMenu.id %}'>Taking Orders</a>
                                {% endif %}
                            </h2>
                        </div>
                    </div>
                    <div class="row restaurantItem">
                        <div class="eight wide column">
                            <div>
                                <h2><a target="_blank" class="dateLink" href="{{ dailyMenu.Restaurant.websiteurl }}">Prepared by {{ dailyMenu.Restaurant.name }}</a></h2>
                                <div class="meta">
                                    <p>{{ dailyMenu.Restaurant.cuisine }}</p>
                                </div>
                                <h4>{{ dailyMenu.Restaurant.desc }}</h4>
                            </div>
                        </div>
                        <div class="two wide column">
                            <h5>
                                {{ dailyMenu.Restaurant.addressLine1 }}
                                <br>{{ dailyMenu.Restaurant.city }}, {{ dailyMenu.Restaurant.state }}
                            </h5>
                        </div>
                        <div class=" restaurantPic six wide column ">
                            <img class="centerImage" src="{{ dailyMenu.Restaurant.imageurl}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="ui stackable grid">
                            <div class="centered two column row">
                                {% for food in dailyMenu.foodItems.all %}
                                    <div class="column">
                                        <div class="ui fluid special card food">
                                            <a class="dimmable image" href='{% url 'view_food' menu_id dailyMenu.id %}'>
                                                <div class="ui dimmer">
                                                    <div class="content imageOpacity">
                                                        <div class="center">
                                                            <h3>View {{ dailyMenu.get_day_display }}'s Menu</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <img class="centerImage" src='{{ food.imageurl }}'>
                                            </a>
                                            <div class="content">
                                                <a class="header" href='{% url 'view_food' menu_id dailyMenu.id %}'>
                                                    {{ food.itemName }} {{ food.priceformat }}
                                                </a>

                                                <div class="meta">
                                                    {% if food.vegetarian %}
                                                        Vegetarian
                                                    {% else %}
                                                        Meat
                                                    {% endif %}
                                                </div>
                                                <div class="description">
                                                    <h4>{{ food.desc }}</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                 <div class="sixteen wide centered column ">
                    <h3 class="centerText">Not delivering this week, check back soon!</h3>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}