{% extends "base.html" %}
{% block title %} Log in {% endblock %}
{% block header %} Log in {% endblock %}
{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <div class="margin_panel login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Log In
                </h3>
            </div>
            <div class="panel-body">
                {% if form.errors %}
                    <p class="error" style="color: red;">
                        Email and/or password is incorrect
                    </p>
                {% endif %}
                <form class="ui form" role="form" action="/accounts/login/$" method="POST">{% csrf_token %}
                    <div class="field">
                        <label for="username">Email</label>
                        <input type="text" name="username" value="" id="username" placeholder="Email" required/>
                    </div>
                    <div class="field">
                        <label for="password">Password</label>
                        <input type="password" name="password" value="" id="password" placeholder="Password" required/>
                    </div>

                    <input type="hidden" name="next" value="{{ next }}" />

                    <button type="submit" class="ui button purpleButton" style='padding:10px 90px;' >Log in</button>
{#                    <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>#}
            		<div class="ui segment">
                        Don't have an account? <a href="{% url 'sign_up' %}">Sign up</a> | <a href="{% url 'reset_password' %}" >Forgot Credentials</a>
					</div>
            	</form>
        	</div>
    	</div>
    </div>
{% endblock %}

