{% extends "base.html" %}
{% load i18n %}
{% block content %}

    <div class="ui page relaxed centered grid">
        <div class="eleven wide column margin_panel panel panel-default">
            <div class="panel-body">
                <h3 class="ui header">{{ title }}</h3>
                <p>{% trans "We've emailed you instructions for setting your password. You should be receiving them shortly." %}</p>

                <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>

            </div>
        </div>
    </div>

{% endblock %}
