{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="ui page relaxed centered grid">
        <div class="eleven wide column margin_panel panel panel-default">
            <div class="panel-body">
                <h3 class="ui header">{{ title }}</h3>
                <p>{% trans "Your password has been set.  Please try logging in with your new password." %}</p>

                <p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>
            </div>
        </div>
    </div>

{% endblock %}
