{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="ui page relaxed centered grid">
        <div class="eleven wide column margin_panel panel panel-default">
            <div class="panel-body">
                <h3 class="ui header">{{ title }}</h3>
                <div class="segment">
                    <p>{% trans "If you've forgotten which email you used to sign up with please contact us at " %}<a href="mailto:support@mehungry.co?subject=Forgot%20Email">support@mehungry.co</a></p>
                    {% for error in form.email.errors %}
                        <h4>{{ error }}</h4>
                    {% endfor %}
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            {{error}}
                        {% endfor %}
                    {% endif %}
                    </br>
                </div>
                <div class="">
                    <form class="ui form" action="" method="post">{% csrf_token %}

                        {% for field in form %}
                            <div class="form-group">
                                {{ field.label_tag}}
                                {{ field }}
                            </div>
                        {% endfor %}
                        <div>
                            <input class="ui submit button purpleButton" type="submit" value="Send"></input>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
