{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="ui page relaxed centered grid">
        <div class="eleven wide column margin_panel panel panel-default">
            <div class="panel-body">
                {% if validlink %}
                    <form class="ui form" action="" method="post">{% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {{ field.errors }}
                                {{ field.label_tag}}
                                {{ field }}
                            </div>
                        {% endfor %}
                        <input class="ui button purpleButton" type="submit" value="{% trans 'Submit' %}" ></input>
                    </form>
                {% else %}
                    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
