{% extends "base.html" %}
{% block title %}meHungry signup{% endblock %}
{% block content %}

    <div class="ui padded page two column stackable grid">
        <div class="two column row">
            <div class="ui fluid steps">
                <div class="
                             {% if wizard.steps.step1 == 1 %}
                                active
                            {% endif %}
                            step">
                    <i class="user icon"></i>
                    <div class="content">
                        <div class="title">1. Account Details</div>
                        <div class="description">Tell us about yourself</div>
                    </div>
                </div>
                <div class="
                             {% if wizard.steps.step1 == 2 %}
                                active
                            {% endif %}
                            step">
                    <i class="mobile icon"></i>
                    <div class="content">
                        <div class="title">2. Phone and Delivery</div>
                        <div class="description">Where and how can we reach you?</div>
                    </div>
                </div>
                <div class="
                             {% if wizard.steps.step1 == 3 %}
                                active
                            {% endif %}
                            step">
                    <i class="unlock alternate icon"></i>
                    <div class="content">
                        <div class="title">3. Phone validation</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="panel panel-default ">
                {% for field in form %}
                    {{ field.error }}
                {% endfor %}
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        {{error}}
                    {% endfor %}
                {% endif %}
                <div class="panel-body">
                    {% if wizard.steps.step1 == 2 %}
                        <p>You're on your way! We need some extra information to complete the process.</p>
                        <h5>Please fill in your phone number and select your preferred delivery location.
                            Keep your phone handy! We'll send a <b>verification code</b> to your phone.</h5>
                        <div class="ui hidden divider"></div>
                    {% endif %}
                    <form id="userForm" action="/accounts/signup/" method="post" class="ui form">{% csrf_token %}
                        {{ wizard.management_form }}
                        {% if wizard.form.forms %}
                            {{ wizard.form.management_form }}
                            {% for form in wizard.form.forms %}
                            {% endfor %}
                        {% else %}
                            {% for field in  wizard.form %}
                                <div class="form-group">
                                    {{ field.label_tag}}
                                    {{ field.errors }}
                                    {{ field }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if wizard.steps.next %}
                            <input class="ui submit button purpleButton" type="submit" value="Next"/>
                            {% if wizard.steps.prev %}
                                <button class="ui button" name="wizard_goto_step" type="submit" value="{{  wizard.steps.prev }}">Prev</button>
                            {% endif %}
                        {% else %}
                            <input class="ui submit button purpleButton" type="submit" value="Submit"/>
                            <button class="ui button" name="wizard_goto_step" type="submit" value="{{  wizard.steps.prev }}">Prev</button>
                            <div>
                                </br>
                                By submitting you are agreeing to our <a target="_blank" href="https://s3-us-west-2.amazonaws.com/mehungrystaticfiles/meHungry+Terms+and+Conditons.pdf">Terms and Conditions</a>
                            </div>
                        {% endif %}

                    </form>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="panel panel-default">
                <div class="ui segment">
                    Welcome to the meHungry beta!
                    <div>
                        Please bear with us as we get everything started. If you have any issues/questions feel free to email us at
                        hello@mehungry.co.
                    </div>
                    As a bonus for trying out the beta, please enjoy all of our food at a reduced price!
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(
                $('#id_1-phone_0 option').filter(function(){
                    return $(this).text() === 'United States +1';
                }).prop('selected', true)
        );
    </script>
{% endblock %}
